@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <StrategyHubShell>
                @Body
            </StrategyHubShell>
        </Authorized>
        <NotAuthorized>
            <div class="auth-shell">
                @Body
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
